<div style="padding: 0;margin: auto;background-color: aliceblue;width: 90vw;height: auto;">
    <div style="border: 1px solid black;">
        <div style="display: flex; padding: 10px;">
          <p>Hay {{data.cantidadEquipo}} equipos</p>
          <button type="button" style="margin-left: 10px;">Agregar</button>
        </div>
        <div>
          <div style="display: grid; grid-template-columns: 300px 300px 300px; padding: 10px;">
            <div>Equipo</div>
            <div>Pais</div>
            <div>Accion</div>
          </div>
          {{>lista items=data.equipos}}
        </div>
    </div>
</div>
